@model ChatViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul>
                @foreach (var server in Model.AvailableServers)
                {
                <li>
                    <img src="@server.AvatarUrl" width="50" height="50" />
                    <p>@server.Name</p>
                    <ul>
                        @foreach (var channel in server.TextChannels)
                            {
                        <li><p>TODO: link - NAME: @channel.Name ID: @channel.Id</p></li>
                            }
                    </ul>
                </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="GlobalChatList">
                @foreach (var msg in Model.MessageBuffer)
                {
                <li>@msg.SenderUsername in @msg.ChannelName : @msg.Message</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="ChatInputArea">Your message:</label>
                <textarea class="form-control" id="ChatInputArea" rows="2" disabled>You cannot chat globally.</textarea>
            </div>
            <button class="btn btn-primary" disabled>Send</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/@Html.Raw("@")aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalRConnection.js"></script>
    <script src="~/js/globalChatSignalR.js"></script>
}
